{
  "server": {{ toJSON (upstream).address }},
  "server_port": {{ (upstream).port }},
  "password": {{ toJSON (upstream).secret }},
  "method": "2022-blake3-aes-256-gcm",
  "mode": "tcp_and_udp",
  "locals": [
    { "local_address": "127.0.0.1", "local_port": {{ (instance).ports.local }}, "protocol": "socks" }
  ]
}
